body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
}

#quote-box {
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(5px);
    margin: 5%;
}

#quote {
    font-size: 24px;
    margin: 20px 0;
    position: relative;
    padding: 20px;
    font-weight: 500;
    animation: fadeIn 2s;
}

#author {
    font-size: 18px;
    color: #bbb;
    margin-top: 10px;
    font-style: italic;
    animation: fadeIn 3s;
}

#quote-button {
    padding: 12px 25px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 16px rgba(231, 76, 60, 0.2);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

#quote-button:hover {
    background-color: #c0392b;
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey background on the loader parts that are not active */
    border-top-color: #3498db; /* Primary color for the loader spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* Center the loader */
    display: none; /* Initially hidden */
    z-index: 100; /* Ensure it's on top of other content */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Fade in/out animations for the loader */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Transparent overlay */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: none;
    z-index: 50; /* Below the loader but above other content */
}
