body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 75%;
    max-width: 800px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.fact {
    margin-bottom: 20px;
    transition: opacity 0.5s;
}

#cat-meme {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: opacity 0.5s;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.loader-paw {
    width: 50px;
    height: 50px;
    animation: paw-bounce 1s infinite;
}

@keyframes paw-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
