body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212; 
    color: #ffffff; 
}

#app {
    text-align: center;
    background: #1e1e1e; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    margin-bottom: 20px;
}

label {
    color: #ffffff; 
    background-color: #1e1e1e; 
    padding: 5px; 
    border-radius: 5px; 
}

input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #333; 
    background-color: #2c2c2c; 
    color: #ffffff; 
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#orbital-svg {
    margin-top: 20px;
}

.loading-spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loading-spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #007BFF;
    border-color: #007BFF transparent #007BFF transparent;
    animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
